.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    /* flex-grow: 0.3; */
    flex: 0 0 300px;
    background-color: #f9f9f9;
    padding: 15px;
    /* overflow: auto; */
}

#nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#nav .nav-items {
    color: rgb(93,93,93, 0.9);
    font-size: 20px;
}

#avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #890709;
}

#avatar > h1 {
    color: white;
}

/* .sidebar div:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 15px;
    border: 2px solid #890709;
    border-radius: 50px;
} */

.dashboard {
    /* padding: 100px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}



/* Tablet (768px and below) */
@media (max-width: 768px) {
    
  }
  
  /* Mobile (480px and below) */
  @media (max-width: 480px) {
   .sidebar {
    display: none;
   }
  }